body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: blue
  background-image: url("/images/octopus3.jpg");
  color: white
  background-repeat: no-repeat
a
  color: #00B7FF